[defaults]
inventory	= ./inventory/hosts.yml
remote_user	= deploy
private_key_file= ~/.ssh/id_do
host_key_checking = False
interpreter_python = auto_silent

[privilege_escalation]
become	= True
become_method = sudo
become_user = root
